<h1>Edit <%= @restaurant.name %></h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit %>
<% end %>

<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>
