
<div class="container">
<%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Restaurants" %>
  <%= submit_tag "Search" %>
<% end %>



  <% @restaurants.all.each do |restaurant| %>
    <h2> <%= link_to restaurant.name, restaurant_path(restaurant.id)%> </h2>
    <p> <%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
    <p><%= restaurant.category %></p>
  <% end %>
</div>


